{
	parser: "babel-eslint",
	env: {
		browser: true,
		node: true
	},
	ecmaFeatures: {
		arrowFunctions: true,
		blockBindings: true,
		classes: true,
		defaultParams: true,
		destructuring: true,
		generators: true,
		modules: true,
		objectLiteralComputedProperties: true,
		objectLiteralDuplicateProperties: true,
		objectLiteralShorthandMethods: true,
		objectLiteralShorthandProperties: true,
		restParams: true,
		spread: true,
		templateStrings: true,
		jsx: true,
	},
	rules: {
		block-scoped-var: 2,
		brace-style: [1, "1tbs"],
		comma-dangle: 0,
		comma-style: [1, "last"],
		consistent-this: [1, "that"],
		curly: [1, "multi-line"],
		default-case: 2,
		generator-star-spacing: [1, "before"],
		guard-for-in: 2,
		indent: [1, "tab"],
		max-len: [1, 100, 4],
		new-cap: 0,
		no-else-return: 1,
		no-floating-decimal: 1,
		no-lonely-if: 1,
		no-multiple-empty-lines: [1, {"max": 1}],
		no-param-reassign: 1,
		no-plusplus: 1,
		no-throw-literal: 1,
		no-undefined: 1,
		no-underscore-dangle: 0,
		no-unneeded-ternary: 1,
		no-var: 1,
		no-void: 1,
		one-var: [1, "never"],
		prefer-const: 1,
		quotes: [1, "single"],
		radix: 1,
		semi: [1, "never"],
		space-before-function-paren: [1, "never"],
		spaced-comment: [1, "always"],
		strict: [2, "global"],
		vars-on-top: 1,
		wrap-regex: 1,
	}
}
