@import '../style/vars';
.icon {
  height: $base-unit * 2;
  width: $base-unit * 2;
  padding: ($base-unit * 2 - $icon-size) / 2;
  align-content: center;
  align-items: center;
  justify-content: center;
  g,
  svg,
  path,
  rect,
  polygon {
    fill: $font-color;
  }
  > svg {
    width: $icon-size;
    height: $icon-size;
  }
  &.icon--no-left-padding {
    padding-left: 0;
    width: $icon-size + ($base-unit * 2 - $icon-size) / 2;
  }
  &.icon--no-right-padding {
    padding-right: 0;
    width: $icon-size + ($base-unit * 2 - $icon-size) / 2;
  }
}
.icon--s {
  height: $base-unit;
  width: $base-unit;
  > svg {
    width: $icon-size--s;
    height: $icon-size--s;
  }
  &.icon--no-left-padding {
    padding-left: 0;
    width: $icon-size--s + ($base-unit * 2 - $icon-size--s) / 2;
  }
  &.icon--no-right-padding {
    padding-right: 0;
    width: $icon-size--s + ($base-unit * 2 - $icon-size--s) / 2;
  }
}
.icon--xs {
  > svg {
    width: $icon-size--xs;
    height: $icon-size--xs;
  }
  padding: ($base-unit * 2 - $icon-size--xs) / 2;
  &.icon--no-left-padding {
    padding-left: 0;
    width: $icon-size--xs + ($base-unit * 2 - $icon-size--xs) / 2;
  }
  &.icon--no-right-padding {
    padding-right: 0;
    width: $icon-size--xs + ($base-unit * 2 - $icon-size--xs) / 2;
  }
}
.icon--l {
  > svg {
    width: $icon-size--l;
    height: $icon-size--l;
  }
  padding: ($base-unit * 2 - $icon-size--l) / 2;
  &.icon--no-left-padding {
    padding-left: 0;
    width: $icon-size--l + ($base-unit * 2 - $icon-size--l) / 2;
  }
  &.icon--no-right-padding {
    padding-right: 0;
    width: $icon-size--l + ($base-unit * 2 - $icon-size--l) / 2;
  }
}
.icon--action {
  &,
  g,
  svg,
  path,
  rect,
  polygon {
    fill: $action-font-color;
  }
  [disabled] & {
    g,
    svg,
    path,
    rect,
    polygon {
      fill: $disabled-font-color;
    }
  }
  .btn--disabled &,
  .btn--quiet[disabled] & { // Specific hack
    g,
    svg,
    path,
    rect,
    polygon {
      fill: $disabled-font-color;
    }
  }
}
.icon--quiet-action {
  &,
  g,
  svg,
  path,
  rect,
  polygon {
    fill: $quiet-action-font-color;
  }
  [disabled] & {
    g,
    svg,
    path,
    rect,
    polygon {
      fill: $disabled-font-color;
    }
  }
  .btn--disabled &,
  .btn--quiet[disabled] & { // Specific hack
    g,
    svg,
    path,
    rect,
    polygon {
      fill: $disabled-font-color;
    }
  }
}
.icon--warning {
  &,
  g,
  svg,
  path,
  rect,
  polygon {
    fill: $soft-warning-color-light;
  }
}
.sidebar .icon,
.header .icon {
  g,
  svg,
  path,
  rect,
  polygon {
    fill: $header-font-color;
  }
}
