// Font and spacing

$font-color: $dark-base !default;
$brand-bg-color: $light-base !default;

$border-width: 1px !default;
$action-border-width: 0 !default;
$list-border-width: 1px !default;
$table-border-width: 1px !default;
$container-border-width: 0 !default;

// UI element colors
$background-color:              $light-base !default;
$element-color:                  darken($background-color, 13%) !default;
$body-background-color: darken($background-color, 6%) !default;
$font-color:                     darken($dark-base, 10%) !default;
$quiet-color:                   #777 !default;

$action-color: $brand !default;
$action-color-light: $brand-light !default;
$action-color-dark: $brand-dark !default;
$action-border-color: $brand !default;
$action-font-color: $element-color !default;
$action-font-color: #FFF !default;;

$primary-action-color: $green !default;
$primary-action-color-light: $green-light !default;
$primary-action-color-dark: $green-dark !default;
$primary-action-border-color: $green  !default;
$primary-action-font-color: $action-font-color !default;

$quiet-action-color: rgba(#000, .08) !default;
$quiet-action-color-light: rgba(#000, .04) !default;
$quiet-action-active-color: rgba(#000, .08) !default;
$quiet-action-border-color: rgba(#000, .15) !default;
$quiet-action-active-border-color: rgba(#000, .25) !default;
$quiet-action-selected-color: lighten($blue, 37%) !default;
$quiet-action-selected-active-color: lighten($quiet-action-selected-color, 4%) !default;
$quiet-action-selected-font-color: $action-color !default;
$quiet-action-color-dark: darken($element-color, 10%) !default;
$quiet-action-font-color: $action-color !default;

$button-color: $action-color !default;
$button-color-light: $action-color-light !default;
$button-color-dark: $action-color-dark !default;
$button-border-color: $action-color  !default;
$button-font-color: $action-font-color !default;

$warning-color: $red !default;
$warning-color-light: $red-light !default;
$warning-color-dark: $red-dark !default;
$soft-warning-color: $orange !default;
$soft-warning-color-light: $orange-light !default;
$warning-border-color: $red  !default;
$warning-font-color: $action-font-color !default;
$quiet-warning-font-color: $warning-color !default;
$quiet-warning-active-border-color: $warning-color !default;

$info-color: $yellow !default;
$info-color-light: $yellow-light !default;
$info-color-dark: $yellow-dark !default;
$info-border-color: $yellow  !default;
$info-font-color: $action-font-color !default;

$disabled-color: $quiet-color + 20 !default;
$disabled-font-color: $quiet-color + 70 !default;
$disabled-color-light: $quiet-color + 30 !default;
$disabled-color-dark: $quiet-color !default;
$disabled-border-color: $quiet-color + 20 !default;

$success-color: $green  !default;
$waiting-color: $yellow  !default;
$error-color: $red  !default;

$link-color: darken($blue, 5%) !default;
$selection-bg-color: lighten($blue, 40%) !default;
$selection-font-color: inherit !default;

$chart-colors:
$green-base
$dark-base
$red-base
$blue-base
$yellow-base
$purple-base
$turqoise-base
$violet-base
$pink-base
$teal-base
$lime-base
$orange-base
darken($green-base, 15%)
darken($orange-base, 15%)
darken($blue-base, 15%)
darken($red-base, 15%)
darken($purple-base, 15%)
darken($yellow-base, 15%)
darken($turqoise-base, 15%)
darken($violet-base, 15%)
darken($pink-base, 15%)
darken($teal-base, 15%)
darken($lime-base, 15%)
lighten($green-base, 25%)
lighten($orange-base, 25%)
lighten($blue-base, 25%)
lighten($red-base, 25%)
lighten($purple-base, 25%)
lighten($yellow-base, 25%)
lighten($turqoise-base, 25%)
lighten($violet-base, 25%)
lighten($pink-base, 25%)
lighten($teal-base, 25%)
lighten($lime-base, 25%)
!default;

$shift-colors:
$green-base
$red-base
$blue-base
$yellow-base
$purple-base
$turqoise-base
$violet-base
$pink-base
$teal-base
$lime-base
$orange-base
!default;


// Borders
$border-color: darken($background-color, 15%) !default;
$quiet-border-color: mix($background-color, $font-color, $heavy-tint) !default;
$heavy-border-color: darken($border-color, 8%) !default;
$header-border-color: mix($font-color, $background-color, $heavy-tint) !default;

// Action borders
$action-border: $action-border-width $action-color solid !default;
$action-border-dark: $action-border-width $action-border-color solid !default;

$primary-action-border: $action-border-width $primary-action-color solid !default;
$primary-action-border-dark: $action-border-width $primary-action-border-color solid !default;

$warning-border: $action-border-width $warning-color solid !default;
$warning-border-dark: $action-border-width $warning-border-color solid !default;

$quiet-warning-border-color:     $red !default;
$quiet-warning-border:          $action-border-width $quiet-warning-border-color solid !default;

$quiet-action-border:            $action-border-width $quiet-action-border-color solid !default;
$quiet-action-border-dark: $action-border-width $quiet-border-color solid !default;

$button-border: $action-border-width $button-color solid !default;
$button-border-dark: $action-border-width $button-border-color solid !default;


//Default borders
$brand-border: $border-width $border-color solid !default;
$heavy-border: $border-width $heavy-border-color solid !default;
$inverted-border: $border-width $header-border-color solid !default;
$quiet-border: $border-width $quiet-border-color solid !default;

//Container borders
$container-border: $container-border-width $border-color solid !default;
$container-heavy-border: $container-border-width $heavy-border-color solid !default;
$container-inverted-border: $container-border-width $header-border-color solid !default;
$container-quiet-border: $container-border-width $quiet-border-color solid !default;

//Table borders
$table-border: $table-border-width $border-color solid !default;
$table-heavy-border: $table-border-width $heavy-border-color solid !default;
$table-inverted-border: $table-border-width $header-border-color solid !default;
$table-quiet-border: $table-border-width $quiet-border-color solid !default;

//Table borders
$list-border: $list-border-width $border-color solid !default;
$list-heavy-border: $list-border-width $heavy-border-color solid !default;
$list-inverted-border: $list-border-width $header-border-color solid !default;
$list-quiet-border: $list-border-width $quiet-border-color solid !default;

$fail-background-color: mix($background-color, $red, $heavy-tint) !default;
$success-background-color: mix($background-color, $green, $fat-tint) !default;
$waiting-background-color: mix($background-color, $yellow, $fat-tint) !default;
$changed-background-color: mix($background-color, $turqoise, $fat-tint) !default;

$header-bar-color: $dark-base !default;
$header-highlight-color: darken($header-bar-color, 100 - $tint) !default;
$header-font-color: $background-color !default;
$header-height: $base-unit * 3 !default;

$login-background-color: $dark-base !default;
$login-form-background-color: $dark-base !default;
$login-font-color: $header-font-color !default;
$login-form-font-color: $font-color !default;

$inverted-background-color: $header-bar-color !default;

$modal-shadow: 0 0 40px 2px rgba(#000, .1) !default;
$dim-background-color: rgba(#000, .4) !default;

$popup-background-color: $background-color !default;
$popup-border-color: $border-color !default;
$popup-font-color: $font-color !default;
$popup-border: $container-border  !default;
$arrow-height: $half-unit  !default;
$overlay-color: rgba($background-color, .95) !default;

$topbar-color: #FFF !default;

$focus-box-shadow: inset 0 0 0 200px rgba(#000, .07) !default;
$box-shadow: 0 0 25px 0 rgba(#000, .25) !default;

$dark-action-color: rgba(#000, .2) !default;
$dark-action-font-color: #FFF !default;
$dark-action-active-color: rgba(#000, .1) !default;
$dark-action-border-color: rgba(#000, .2) !default;
$dark-action-active-border-color: rgba(#000, .4) !default;
$dark-action-border: $action-border-width $dark-action-border-color solid !default;
