@import '../style/vars';
.radiobutton {
  padding-left: $icon-size + floor($quarter-unit);
  position: relative;
  cursor: pointer;
  line-height: $base-unit * 2;
  @include truncate(100%);
  > input {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
    @include layer;
  }
}
.radiobutton__indicator {
  position: absolute;
  top: calc(50% - #{$half-unit});
  left: 0;
  width: $base-unit;
  height: $base-unit;
  margin: -1 * $action-border-width 0 0;
  color: $quiet-action-font-color;
  text-align: center;
  background-color: $quiet-action-color;
  border: $quiet-action-border;
  background-size: $half-unit + 1 $half-unit + 1 ;
  background-position: center center;
  background-repeat: no-repeat;
  user-select: none;
  box-shadow: inset 0 0 0 0 $quiet-action-color;
  border-radius: $brand-round;
  transition: all $transition-speed / 2 linear;
  @include layer;
  .radiobutton:hover > input:not(:checked) ~ &,
  .checkbox:hover > input:not(:checked) ~ & {
    background-color: $quiet-action-active-color;
  }
  input:checked ~ & {
    box-shadow: inset 0 0 0 $half-unit transparent;
    background-color: $action-color;
    border-color: $action-border-color;
  }
}
.radiobutton__indicator {
  border-radius: 50%;
  input:focus ~ &,
  input:active ~ & {
    background-color: $quiet-action-color-light;
  }
  input:checked ~ & {
    box-shadow: inset 0 0 0 $half-unit $button-color;
  }
  input:focus:checked ~ & {
    box-shadow: inset 0 0 0 $half-unit $button-color-light;
  }
}
